@model ReversiApp.Models.Spel

@using Microsoft.AspNetCore.Identity

@inject UserManager<Speler> userManager

@{
    ViewData["Title"] = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h4>Omschrijving: @Html.DisplayFor(model => model.Omschrijving)</h4>
        <h4>
            Spelers:
            @foreach (var speler in Model.Spelers)
            {
                <p>@speler.Email (Highscore: @speler.Highscore, kleur: @speler.Kleur)</p>
            }
        </h4>
        @{
            var userKleur = userManager.FindByNameAsync(User.Identity.Name).Result.Kleur;
        }
        @if (Model.Status == Status.Bezig || Model.Status == Status.NietGestart)
        {
            <div>
                @if (Model.Spelers.Count == 1)
                {
                    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Aanpassen</a>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ID" />
                        <input type="submit" value="Dit spel verlaten & verwijderen" class="btn btn-danger" />
                    </form>
                }
                else
                {
                    <form asp-action="Lose">
                        <input type="hidden" asp-for="ID" />
                        <input type="submit" value="Opgeven" class="btn btn-danger" />
                    </form>
                }
            </div>
            @if (Model.Spelers.Count == 2)
            {
                <div class="randomFact">

                </div>
                <div class="aanDeBeurt" style="margin-bottom: 50px;">

                </div>
                <div class="game" style="margin-bottom: 50px;">

                </div>
                <div class="grafiek" style="height: 750px; width: 750px;">

                </div>
            }
        }
        else if (Model.Status == Status.WitGewonnen && userKleur == Kleur.Wit ||
            Model.Status == Status.ZwartGewonnen && userKleur == Kleur.Zwart)
        {
            <h4>U heeft gewonnen! Je highscore is omhoog gegaan.</h4>
            <form asp-action="Leave">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Dit spel verlaten" class="btn btn-danger" />
            </form>
        }
        else
        {
            <h4>U heeft verloren! Je highscore is hetzelfde gebleven.</h4>
            <form asp-action="Leave">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Dit spel verlaten" class="btn btn-danger" />
            </form>
        }
    </div>
@section scripts {
    <script type="text/javascript">
        // We call the board through Game.Init and we give the ID to it,
        // so the Client side knows where the board needs to be placed
        Game.init(@Model.ID, @Convert.ToInt32(userKleur));
    </script>
}
