@model IEnumerable<ReversiApp.Models.Spel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Spellen waar je aan kan meedoen</h1>

<p>
    <a asp-action="Create">Maak een nieuw spel aan</a>
</p>
@{
    if (ViewBag.AantalSpellen < 1)
    {
        <p>Er zijn geen spellen beschikbaar! Maak er een aan of wacht totdat er een spel is.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Omschrijving)
                    </th>
                    <th>
                        Speler
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Omschrijving)
                        </td>
                        <td>
                            @foreach (var speler in item.Spelers)
                            {
                                <p>@speler.UserName (Highscore: @speler.Highscore)</p>
                            }
                        </td>
                        <td>
                            @foreach (var speler in item.Spelers)
                            {
                                if (speler.UserName == User.Identity.Name)
                                {
                                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                }
                                else
                                {
                                    <a asp-action="Join" asp-route-id="@item.ID">Meedoen</a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}