@model IEnumerable<UserAndRolesModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Error</h1>

<h1>Alle spelers</h1>

<p>
    <a asp-action="Create">Nieuwe aanmaken</a>
    <a asp-action="Archived">Gearchiveerde spelers</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoFactorEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kleur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Highscore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var speler in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => speler.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => speler.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => speler.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => speler.TwoFactorEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => speler.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => speler.Kleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => speler.Highscore)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@speler.UserId">Edit</a>
                @{
                    if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Details" asp-route-id="@speler.UserId">Details</a>
                        <a asp-action="Delete" asp-route-id="@speler.UserId">Delete</a>
                        <a asp-action="ArchiveSpeler" asp-route-id="@speler.UserId">Archiveren</a>
                    }
                }
            </td>
        </tr>
        }
    </tbody>
</table>